html {
	overflow-x: hidden;
}

.container {
	top: 17.5vh;
	left: 17.5vw;
	width: 65vmax;
	max-width: 100vw;
	height: 65vh;
	display: flex;
	position: absolute;
	flex-direction: row;
	overflow: hidden;
	box-shadow: 0 0 2vmin rgba(0,0,0,0.5);
}

.poster {
	flex: 1;
	object-fit: cover;
	max-height: 65vh;
}

.information {
	flex: 2;
	padding: 2rem;
	background-color: black;
	overflow-y: none;
}

.synopsis {
	overflow-y: auto;
	height: 33vh;
}

.metaInfo {
	font-size: 0.9rem;
	font-weight: 400;
	color: #FFF;
}

.tagLine {
	font-size: 1.0rem;
	margin: 1.0rem 0;
	color: #FFF;
}

.backdrop {
	opacity: 50%;
	max-width: 100vmax;
	max-height: 100vmax;
	min-width: 100vw;
	min-height: 100vh;
	object-fit: cover;
	pointer-events: none;
}

.favourite {
	border: 2px solid white;
	background-color: black;
	color: white;
	border-radius: 1.0rem;
	width: 2.0rem;
	height: 2.0rem;
	cursor: pointer;
	font-size: 0.1rem;
}

.icon {
	font-size: 1.5rem;
	margin: -17.5px 0;
	font-weight: 400;
	padding: 0;
}

.right {
	float: right;
}

.link {
	color: #4BF;
	text-decoration: underline;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}

.listsContainer {
	position: absolute;
	top: 30vh;
	left: 37.5vw;
	width: 25vw;
	height: 40vh;
	padding: 1.5rem;
	box-sizing: border-box;
	background-color: #282828;
	box-shadow: 0 0 2vw 1px black;
}

.list {
	display: block;
	width: 100%;
	padding: 0.5rem;
	cursor: pointer;
}

.list:nth-child(odd) {
	background-color: #3C3C3C;
}

.list:nth-child(even) {
	background-color: #323232;
}

.right {
	float: right;
}

.scroller {
	overflow-y: auto;
	max-height: 30vh;
}