.container {
	position: absolute;
	top: calc(4.0rem + 25vw);
	padding: 1.0rem;
}

.favourites {
	position: absolute;
	top: calc(8.0rem + 25vw);
	left: 2.0rem;
	padding: 1.0rem;
	background-color: #282828;
	border-radius: 1.0rem;
}