.container {
	padding: 1.0rem;
	display: block;
}

.favourites {
	padding: 1.0rem;
	border-radius: 1.0rem;
}

.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(100vh - 4.0rem);
}

.login {
	color: #4BF;
	text-decoration: underline;
	font-weight: 400;
	font-size: 1.0rem;
}